.table {
  display: table;
  border-collapse: collapse;
  
  > :first-child {
    font-size: .85rem;
    background-color: rgba(0,0,0,.03)
  }

  > :nth-of-type(odd) {
    background-color: rgba(0,0,0,.03)
  }
  
  > * {
    display: table-row;
    
    > :first-child {
      font-weight: bold;
    }

    > * {
      display: table-cell !important;
      padding: .75rem;
      border-top: 1px solid #dee2e6;
    }
  }
}

.icon-button {
  border: none;
  padding: 0;
  background: transparent;
  line-height: 14px;
}

.small {
  font-size: 20px;
}

// new user form style

.new-user-form {
  font-size: .9rem;
  opacity: 0;
  transition: all 0.4s
}

.show {
  opacity: 100;
}

.input__date {
  width: 120px;
}

.input__edu {
  width: 100px;
}