<h1>Users</h1>

<div class="table mt-3">

  <div>
    <th>id</th>
    <th>Name</th>
    <th>Sex</th>
    <th>Date of birth</th>
    <th>Married</th>
    <th>University</th>
    <th>Phone number</th>
    <th>Edit</th>
  </div>

  <form *ngFor="let user of usersService.users; index as i">
    <div>{{ user.id }}</div>
    <div [contentEditable]="user.edit">{{ user.name }}</div>
    <div [contentEditable]="user.edit">{{ user.sex }}</div>
    <div [contentEditable]="user.edit">{{ user.date | date: 'mediumDate' }}</div>
    <div [contentEditable]="user.edit">{{ user.marital }}</div>
    <div [contentEditable]="user.edit">{{ user.edu }}</div>
    <div [contentEditable]="user.edit">{{ user.num }}</div>
    <div class="d-flex align-items-center">
      <button type="button" (click)="editUser(user.id)" class="icon-button">
        <i class="material-icons small">create</i>
      </button>
      <button type="button" (click)="deleteUser(user.id)" class="icon-button">
        <i class="material-icons small">delete</i>
      </button>
    </div>
    <div>
      <button (click)="addUser()" class="icon-button">
        <i class="material-icons">add</i>
      </button>
    </div>
  </form>


  <!-- New user line -->
  <form class="new-user-form row">
    <div>
      {{usersService.users.length + 1}}
    </div>
    <div>
      <input
        class="input__name"
        type="text"
        name="name"
        [(ngModel)]="name"
      >
    </div>
    <div>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="sex" type="radio" name="sex" id="female" value="female">
        <label class="form-check-label" for="female">
          female
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="sex" type="radio" name="sex" id="male" value="male">
        <label class="form-check-label" for="male">
          male
        </label>
      </div>
    </div>
    <div>
      <input
        class="input__date"
        type="date"
        name="date"
        [(ngModel)]="date">
    </div>
    <div>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="marital" type="radio" name="marital" id="married" value=true>
        <label class="form-check-label" for="married">
          married
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="marital" type="radio" name="marital" id="single" value=false>
        <label class="form-check-label" for="single">
          single
        </label>
      </div>
    </div>
    <div>
      <select [(ngModel)]="edu" name="edu" class="input__edu">
        <option selected>University</option>
        <option value="SpSU">Saint Petersburg State University</option>
        <option value="MSU">Moscow State University</option>
        <option value="KFU">Kazan Federal University</option>
      </select>
    </div>
    <div>
      <input
        class="w-100"
        type="text" 
        name="num"
        [(ngModel)]="num"
      >
    </div>
    <div class="d-flex align-items-center">
      <button (click)="addUser()" class="icon-button">
        <i class="material-icons">add</i>
      </button>
      <button type="button" (click)="deleteUser" class="icon-button">
        <i class="material-icons small">delete</i>
      </button>
    </div>
  </form>

</div>
