<h1>Users</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Sex</th>
    <th scope="col">Date of birth</th>
    <th scope="col">Marital status</th>
    <th scope="col">University</th>
    <th scope="col">Phone number</th>
    <th scope="col">Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; index as i">
    <th scope="row">{{ user.id }}</th>
    <td>{{ user.name }}</td>
    <td>{{ user.sex }}</td>
    <td>{{ user.date.toLocaleDateString() }}</td>
    <td>{{ user.marital }}</td>
    <td>{{ user.edu }}</td>
    <td>{{ user.num }}</td>
    <td class="d-flex align-items-center">
      <i class="material-icons small">create</i>
      <i class="material-icons small">delete</i>
    </td>
    <td>
      <i class="material-icons">add</i>
    </td>
  </tr>
  </tbody>
</table>
